/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

/* Global styling */

* { 
    box-sizing:content-box;
    scroll-padding-top: 4rem;
  } 
 
  /* Body styling */

body {
  margin: 0;
  background-color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  color: aliceblue;
  font-size: 1.5rem;
}

/* Base styles */

video {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0;
}

/* top bar */

.main-nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  margin: 5px;
  align-items: center;
  list-style-type: none;
  padding: 5px;
}

ul.nav li {
  padding: 5px;
}

.nav li a {
  position: relative;
  color: aliceblue;
  text-decoration: none; 
}

.nav li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: indigo;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav li a:hover {
  color: slateblue;
  transform: scale(1.2);
  transition: all 0.5s;
  background-blend-mode: luminosity;
}

.profile-image {
  border-radius: 20px;
  margin: 5px;
  padding: 10px;
}

.profile-image:hover {
  transform: scale(1.2) rotate(-10deg);
}

/* Animation */

.logo {
  overflow: hidden;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  z-index: -1;
}

@keyframes roll {
  0% {
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

/* H1 styling */

.title {
  color: #fdfdfe;
  text-shadow: 5px 5px 5px indigo, 5px 5px 10px slateblue, 1px 1px 10px indigo, 1px 1px 20px slateblue;
  font-size: 6rem;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-style: bold;
  margin: 0;
}

/* H2 styling */

.subtitle {
  color: #fdfdfe;
  text-shadow: 5px 5px 5px indigo, 5px 5px 10px slateblue, 1px 1px 10px indigo, 1px 1px 20px slateblue;
  font-size: 4rem;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-style: bold;
  grid-column: 1 / -1;
}

/* H3 styling */

h3 {
  color: #fdfdfe;
  text-shadow: 0px 0px 5px indigo, 0px 0px 10px indigo, 0px 0px 10px indigo, 0px 0px 20px indigo;
  font-size: 3rem;
  text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-style: bold italic;
  margin: 5px;
}

.background {
  position: absolute;
  z-index: -1;
  min-width: -webkit-fill-available;
  opacity: 0.5;
  height: 100%;
}

/* section styling */

#about,
#experience,
#skills,
#projects,
#leave_message,
#messages {
  margin: 20px;
  border: 10px;
  padding: 2px;
}

/* About section  */

#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-items: center;
  gap: 10px;
  border-color: aliceblue;
}

/* Experience section */

#experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  255px 275px;
  grid-gap: 20px;
  justify-items: center;
  gap: 10px;
}

#experience li {
  display: flex;
  align-items: center;
  border-style:solid;
  gap: 5px;
  margin: 5px;
  border-color: aliceblue;
}

.col {
  margin: 0;
  padding: 10px;
  max-width: 350px;
  text-align: left;
  border-top: 4px solid indigo;
  border-bottom: 4px solid indigo;
  border-radius: 10px;
}

.col:hover {
  border-color:slateblue
}

.joblist {
  grid-column: 1 / -1;
}

.joblist ul {
  padding: 5px;
  border: 5px;
  margin: 0;
}

.joblist li {
  border-radius: 10px;
}

/* Skills section */

#skills {
  margin: 5px;
  padding: 10px;
}

#skills ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

#skills li {
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-color: aliceblue; 
  border-width: 2px;
  justify-content: space-around;
  background-color: indigo;
  text-align: center;
  align-self: center;
  border-radius: 10px;
}

#skills li:nth-child(odd) {
  background-color: slateblue;
}

/* Projects section */

#projects ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* align-content: center; */

}

#projects li {
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-color: aliceblue; 
  border-width: 2px;
  justify-content: space-around;
  background-color: indigo;
  text-align: center;
  align-self: center;
  border-radius: 10px;
}

#projects li:nth-child(odd) {
  background-color: slateblue;
}
 
    /* Form styling */

#form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 30px;
  padding: 10px;
}

.lm-label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 5px;
  margin: 5px;
  justify-content: space-between;
  max-width: fit-content;
  border-width: 2px;
  color: aliceblue;
  border-radius: 10px;
}

form label {
  border-width: 2px;
  border: indigo;
  gap: 10px;
}

#usersName,
#usersEmail,
#usersMessage {
  display: flex;
  padding: 5px;
  font-size: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: indigo;
  margin: 5px;
  border-radius: 10px;
}

/* Messages section */


#messages li {
  display: flex;
  width: fit-content;
  color: aliceblue;
  font-size: 2rem;
  border-style: solid;
  border-width: 3px;
  border-color: indigo;
  list-style-type: upper-roman;
  padding: 5px;
}

/* button styling */

button {
  color:aliceblue;
  background-color: black;
  padding: 5px;
  font-size: x-large;
  margin: 5px;
  transition: background-color 0.4s ease-in-out;
  border-radius: 10px;
}

button:hover {
  background-color: slateblue;
}

/* Social styling */

#email {
  color: aliceblue;
}
#email:hover {
  transform: scale(1);
  color: slateblue;
}

a.social {
  list-style-type: none;
  display: flex;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  background-size: 35px 35px;
  opacity: .8;
  transition: all .25s;
  border-radius: 50%;
}

a.logo {
  background-image: url(../images/social/np3.png);
  width: 90px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 90px;
}

a.logo:hover {
  background-blend-mode: luminosity;
  opacity: 1;
}

a.twitter {
  background-image: url(../images/social/x.jpeg);
}

a.instagram {
  background-image: url(../images/social/instagram.png);
}

a.github {
  background-image: url(../images/social/github.png);
}

a.linkedin {
  background-image: url(../images/social/linkedin.png);
}

li a.social:hover {
  background-blend-mode: luminosity;
  opacity: 1;
  transition: all;
}

/* Footer style */

#footer {
  color: aliceblue;
  padding: 5px;
}

.footer-image {
  position: absolute;
  z-index: -1;
  min-width: -webkit-fill-available;
  opacity: 0.5;
  height: 46%;
}

footer p {
  text-align: center;
}

.footer-connect {
  display: flex;
  justify-content: center;
}

#quote {
  font-size: 1.5rem;
  max-width: max-content;
}

.footer_nav {
  display: flex;
  flex-direction: row;
}

footer ul li {
  list-style-type: none;
  justify-content:center;
}

/* Media queries */

/* For mobile devices */

@media screen and (max-width: 452px) {

  * {
    scroll-padding-top: 3.5rem;
  }

  .main-nav{
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .nav {
    padding: 0;
    font-size: large;
  }

  ul.nav li {
    padding: 3px;
  }
  video {
    max-width: fit-content;
    margin-top: 1rem;
  }

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  a.logo {
    width: 50px;
    height: 50px;
  }

  .profile-image {
    width: 150px;
  }

  .col {
    font-size: 1rem;
  }

  #about {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #experience {
    padding-left: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
  }

  .joblist {
    font-size: 1rem;
  }

  #skills li {
    margin: 2px;
    border-width: 2px;
    justify-content: space-around;
    align-content: center;
    font-size: 1rem;
  }

  #projects li {
    font-size: 1rem;
  }

  #usersName,
  #usersEmail,
  #usersMessage {
    padding: 5px;
    font-size: 1rem;
    border-width: 2px;
    margin: 5px;
  }

  .lm-label {
    font-size: 1rem;
  }

  #messages li {
    font-size: 1rem;
  }

  button {
    font-size: large;
  }

  #quote {
    padding: 5px;
    text-align: justify;
    font-size: 1rem;
  }

  a.social {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
}

/* For tablets */

@media screen and (min-width:453px) and (max-width:900px) {

  * {
    scroll-padding-top: 3.5rem;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title {
      font-size: 5rem;
    }

  .subtitle {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .nav {
    padding: 0;
    font-size: x-large;
  }

  video {
    max-width: fit-content;
    margin-top: 0;
  }

  .profile-image {
    width: 250px;
  }

  .col {
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
  }

  #about {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #experience {
    padding-left: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
  }

  .joblist {
    font-size: 1.5rem;
  }

  #skills li {
    margin: 4px;
    border-width: 4px;
    justify-content: space-around;
    align-content: center;
  }

  #usersName,
  #usersEmail,
  #usersMessage {
    padding: 5px;
    font-size: 1.5rem;
    border-width: 5px;
    margin: 5px;
  }

  .lm-label {
    font-size: 1.5rem;
  }

  button {
    font-size: x-large;
  }

  #quote {
    padding: 5px;
    text-align: justify;
    font-size: 1.5rem;
  }
}

